/* src/components/Footer.css */

.footer {
  background-color: #a59c90;
  color: #fff;
  padding: 40px 20px 10px;
  font-family: 'Segoe UI', sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-logo {
  width: 80px;
  margin-bottom: 10px;
}

.footer-section h3, .footer-section h4 {
  color: #ffc107;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section p {
  margin: 6px 0;
}

.coding {
  margin-top: 10px;
  font-weight: bold;
  color: #4caf50;
}

.social-icons svg {
  font-size: 50px;
  margin-right: 15px;
  cursor: pointer;
  transition: transform 0.3s;
}

.social-icons svg:hover {
  transform: scale(1.2);
  color: #ffc107;
}

.footer-bottom {
  border-top: 1px solid #444;
  padding-top: 15px;
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #bbb;
  margin: 0 10px;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.navbar-brand-name{
  font-size: larger;
 text-decoration: none;
}